Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteRule ^key/validate/([a-fA-F\.0-9\-]+)/([a-zA-Z\.0-9\-]+)?$$ validate-key.php?deviceID=$1&keyNumber=$2 [NC,QSA,L]
RewriteRule ^key/add/([a-fA-F\.0-9\-]+)/([a-zA-Z\.0-9\-]+)?$$ add-key.php?deviceID=$1&keyNumber=$2 [NC,QSA,L]
RewriteRule ^logo/T([0-9]+)?/?([a-zA-Z\.0-9]+)?/?([a-zA-Z0-9\-]+)?/?([0-9]+)?/?([a-z]+)?/?$$ generate-header.php?firmwareType=$1&firmwareVersion=$2&deviceID=$3&deviceTypeID=$4&firmwareLanguage=$5 [NC,QSA,L]

#RewriteRule ^development/T([0-9]+)?/?([a-zA-Z\.0-9]+)?/?([a-zA-Z0-9]+)?/?$$ /afe/dev-generate-logo.php?type=$1&version=$2&device=$3 [END]

# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite everything else to index.html to allow html5 state links
RewriteRule ^ index.html [L]
